<!DOCTYPE html>
<html  ng-app="appmodule">
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Project</title>
    <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script type="text/javascript"src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"src="javascripts/app.js"></script>
    <script type="text/javascript"src="javascripts/controllers.js"></script>
    <script type="text/javascript"src="javascripts/services.js"></script>
</head>
<body>
<h1>Go PRO JECT</h1>



<div ng-view> </div>
</body>
</html>